/* 기본 변수 */

:root{
    /* ========== color palette ===========  */
    
    /* base color */
    --color-base-0: #ffffff;
    --color-base-1: #f9fafb;
    --color-base-2: #f3f4f6;
    --color-base-3: #e5e7eb;
    --color-base-4: #d1d5db;
    --color-base-5: #9ca3af;
    --color-base-6: #6b7280;
    --color-base-7: #4b5563;
    --color-base-8: #404040;
    --color-base-9: #383a35;
    --color-base-10: #1f2937;
    --color-base-11: #111827;
    --color-base-12: #030712;
    --color-base-13: #000000;

    /* main color */
    --color-main-1: #0094FF;
    --color-main-2: #00B2FF;  


    /* accent color */
    --color-accent-3: #ED5858;
    --color-accnet-4: #F69625;

    /* font size */
    --font-size-1: 8px;
    --font-size-2: 11px;
    --font-size-2-1: 12px;
    --font-size-3: 14px;
    --font-size-4: 16px;
    --font-size-5: 18px;
    
    /* radius size */
    --radius-0: 4px; 
    --radius-1: 8px; 
    --radius-2: 12px;
    --radius-3: 10px; 
    --radius-4: 15px; 

    --icon-size-1: 20px;
    --icon-size-2: 24px;
    --icon-size-3: 36px;

    --gap-1:5px;
    --gap-2:8px;
    --gap-3:10px;
    --gap-4:16px;
    --gap-5:20px;
    --gap-6:30px;
    --gap-7:45px;

    --padding-1:10px;
    --padding-2:15px;
    --padding-3:20px;
    --padding-4:30px;
    --padding-5:45px;
}
