<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/deco.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
    <link href="/css/components/menu/search-section.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="search-section">
        <h1>Rland Menu <span class="d:none">검색</span></h1>
        <div class="search-total">
            <!-- <input type="text" class="search"> -->
            <nav class="category-search">
                <h1 class="d:none">카테고리 검색 메뉴 목록</h1>
                <ul>
                    <li><a class="d:none md:d:inline" href="">전체메뉴</a></li>
                    <!-- Utile을 활용하여 모바일 때 다음 요소들이 안보이게 한다. -->
                    <li><a href="" class="d:none md:d:inline">커피</a></li>
                    <li><a href="" class="current">수제청</a></li>
                    <li><a href="" class="d:none md:d:inline">샌드위치</a></li>
                    <li><a href="" class="d:none md:d:inline">쿠키</a></li>
                </ul>
            </nav>

            <section>
                <h1 class="d:none">이름 검색 폼</h1>
                <form action="#" method="get" class="search-name">
                    <fieldset>
                        <legend class="d:none">이름 검색</legend>
                        <input type="text">
                        <input type="submit" value="검색" class="icon icon-settings icon-size:1">
                    </fieldset>
                </form>
            </section>
        </div>
        

    </section>

</body>
</html>