<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
    <link href="/css/components/menu/search-section.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="search-section">
        <h1>Rland Menu <span class="d:none">검색</span></h1>
        <!-- <input type="text" class="search"> -->
        <nav class="category-search">
            <h1 class="d:none">카테고리 검색 메뉴 목록</h1>
            <ul>
                <li><a class="all deco md:deco icon-size-1 icon-filter_list" href="">전체메뉴</a></li>
                <li><a href="">커피</a></li>
                <li><a href="">수제청</a></li>
                <li><a href="">샌드위치</a></li>
                <li><a href="">쿠키</a></li>
            </ul>
        </nav>

        <section>
            <h1 class="d:none">이름 검색 폼</h1>
            <form action="#" method="get">
                <fieldset>
                    <legend class="d:none">이름 검색</legend>
                    <input type="text">
                    <input type="submit" value="검색">
                </fieldset>
            </form>
        </section>

    </section>

</body>
</html>